/* Mengatur tata letak halaman */
body {
    font-family: Arial, sans-serif;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container untuk soal dan pilihan */
.quiz-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 50px black;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.choices {
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
    color: black;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
